<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To main</button>
  </div>

  <div class="info">
    <strong>Author </strong>
    <small>23.08.23</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptas distinctio, natus deserunt nulla amet facilis molestias ad repellat sunt sapiente eius cumque est alias. Nesciunt consequatur nemo distinctio ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptas distinctio, natus deserunt nulla amet facilis molestias ad repellat sunt sapiente eius cumque est alias. Nesciunt consequatur nemo distinctio ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptas distinctio, natus deserunt nulla amet facilis molestias ad repellat sunt sapiente eius cumque est alias. Nesciunt consequatur nemo distinctio ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptas distinctio, natus deserunt nulla amet facilis molestias ad repellat sunt sapiente eius cumque est alias. Nesciunt consequatur nemo distinctio ratione.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat voluptas distinctio, natus deserunt nulla amet facilis molestias ad repellat sunt sapiente eius cumque est alias. Nesciunt consequatur nemo distinctio ratione.</p>
  </div>
</div>
